body {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
.wrapper {
  background-color: #FFFCF4;
}

.center {
  max-width: 1170px;
  margin: 0 auto;
}
.btn-primary {
  color: #FFF;
  background-color: #FFB900;
  border-width: 0;
  text-align: center;
  font-family: Poppins;
  cursor: pointer;;
}
/* ====HERO==== */
.hero {
  margin: 0 auto 0 auto;
  padding: 36px 0 65px 0;
  display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  padding-top: 44px;
}
.logo {
  width: 85px;
  height: 34px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 42px;
  margin-left: auto;
  margin-right: 70px;
  
}
.item {
  cursor: pointer; 
}
.item:hover {
  text-shadow:0px 0px 1px #000;
}
.item--active {
  line-height: 28px;
  font-weight: 600;
}
.item--active::after
{
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  background-color: #000;
  border-radius: 1px;
}
.sign-up {

} 
.btn {
  min-width: 144px;
  border-radius: 24.5px;
}
.btn-second {
  background: #171100;
  color: #fff
}
.menu--btn {
  line-height: 28px;
  font-weight: 600;
  min-height: 50px;
}


/* HERO-CONTENT */


.hero--img{
  flex: 1;
  position: relative;
}
.hero--text{
  flex: 1;
  margin-left: 130px;
  margin-top: 64px;
}
.hero--card{
  display: flex;
  gap: 14px;
  flex-direction: column;
  position: absolute;
  bottom: 48px;
  right: -100px;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  padding: 28px 64px 24px 24px;
  box-sizing: border-box;
  background-color: #fff;
}
.course{
  display: flex;
  align-items: center;
  gap: 14px;
}
.course--des{
  display: flex;
  flex-direction: column;
}
.course-icon{

}
.course-meta{
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; 
  color: #5F5B53;
}
.course-title{
    font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #171100;
}

.hero--title{
  color: #171100;
  font-family: Sen;
  font-size: 58px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.16px;
}
.hero--des{
  color: #5F5B53;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 22px 0 38px 0;
}
.hero--list-button{
  display: flex;
  align-items: center;
}
.hero--button{
  width: 180px;
  height: 64px;
  border-radius: 32px;
  color: #FFF;
  background-color: #FFB900;
  border-width: 0;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}
.hero--watch{
  display: flex;
  gap: 14px;
  align-items: center;
  margin-left: 28px;
  text-decoration: none;
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.hero--btn-play-wrapper{
  width: 40px;
  height: 40px;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #FFFFFF;
  box-shadow: 1px 1px #00000012;
}
.hero--extra{
  margin-top: 48px;
}
.hero--extra-des {
  color: #5F5B53;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.hero--extra-list{
  display: flex;
  gap: 28px;
  margin-top: 8px;
}
.hero--extra-item--hightlight{
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px
}
.hero--extra-item{
  color: #5F5B53;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* LESSION */

.lession-wrapper{}
.lession{
  margin: 200px auto;
  max-width: 1170px;
  position: relative;
}
.lession--text{}
.lession--title{
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.lession--des{
  color: #5F5B53;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  max-width: 458px;
}
.lession-btn{
  display: flex;
  gap: 18px;
  position: absolute;
  top: 42px;
  right: 0;
}
.btn-left{

}
.btn-right{}
.btn-left, .btn-right{
  border: #FFB900 solid 1px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.btn-left:hover, .btn-right:hover{
  background-color: #FFB900;
  cursor: pointer;
}
.btn-left:hover > i, .btn-right:hover > i{
  color:#FFF;
}
.btn-left > i, .btn-right > i{
  line-height: 40px;
  color: #FFB900;
}
.lession--list{
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.lession--card{
  border: 1px solid #E2DFDA;
  border-radius: 12px;
}
.lession--card-img{
  border-radius: 12px 12px 0 0;
}
.lession--card-info-wrapper{
  margin: 16px 22px 22px 22px;
}
.lession--card-title-wraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lession--card-title{
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.rating{
  color: #FEA31B;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.lession--card-des{
  color: #5F5B53;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.lession--add-to-cart{
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lession--price{
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.lession--btn{
  min-width: 118px;
  min-height: 50px;
  border-radius: 25px;
  background-color: #171100;
  border: none;
  color: #fff;
  cursor: pointer;
}
.lession--btn:hover{
  background-color: #FFB900;
}

/* Testimoial */

.tes-wrapper{
  background-color: #2E2100;
}
.tes{
  display: flex;
  justify-content: space-between;
  padding: 96px 0;
}
.tes-info{

}
.tes-info-avatar{
  border-radius: 100%;
}
.avatar{
}
.name{
  color: #F7F7F7;
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  margin: 18px 0 4x 0;
}
.name-title{
  color: #BFBCB2;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.dots{
  line-height: 6px;
  margin-top: 28px;
}
.dot{
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 100%;
  margin-left: 6px;
}
.dot:first-child{
  margin-left: 0;
}
.dot--active{
  background-color: #FFB900;
}
.tes-quote{}
.tes-quote{
  width: 740px;
}
.quote-img{
  position: relative;
  right: 30px;
}
.quote-content{
  color: #FFF;
  font-family: Poppins;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
}
/* Feature 1 */
.feature1-wrapper{}
.feature1{
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.feature1-left{
  max-width: 570px;
}
.feature1-right{
  max-width: 470px;
}
.feature1-imgs{
  display: flex;
  flex-direction: row;
}
.feature-img{
  border-radius: 16px;
  box-sizing: border-box;
}
.feature1-img1{
  padding: 34px 30px 0 0;
  width: 100%;
  height: 100%;
}
.feature1-img2{
  min-width: 270px;
  min-height: 404px;
  margin: 0 0 34px 0;
}
.feature1-info{
  margin: 58px 0 0 0;
}
.feature1-title{
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.feature1-des{}
.feature1-p{
  color: #5F5B53;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.feature1-p1{
  margin: 16px 0;
}
.feature1-p2{
  margin: 16px 0 32px 0;
}
.feature1-btn{
  min-width: 137px;
  min-height: 50px;
  border-radius: 26px;
}
.feature1-reverse .feature1-img1{

}